<h1>Admin - Dashboard</h1>
<h2>Current Number of Products - <a href="/admin/products"><%= @count %></a></h2>


<h2>Current Number of Categories - <a href="/admin/products"><%= @categories %></a></h2>

